h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1170px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  padding-top: 21px;
  padding-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-container svg {
    width: 60px;
    height: 60px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-open-menu {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .btn-open-menu {
    display: none;
  }
}

.header-menu {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header-menu {
    display: flex;
    gap: 80px;
  }
}

.header-menu-item {
  color: #f7fbfb;
  font-size: 24px;
  font-weight: 500;
  padding: 40px 0;
}

.header-menu-item-link {
  position: relative;
  display: inline-block;
}

.header-menu-item-link::after {
  content: "";
  display: inline-block;
  opacity: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f7fbfb;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item-link:hover::after {
  opacity: 1;
}

.mob-menu-container {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 25px 74px 117px 32px;
  background-color: rgba(32, 35, 33, 0.7);
  z-index: 555;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .mob-menu-container {
    padding: 24px 163px 0px 82px;
  }
}

.mob-menu-logo {
  display: inline-block;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .mob-menu-logo svg {
    width: 60px;
    height: 60px;
  }
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 64px;
  color: #f7fbfb;
}
@media screen and (min-width: 768px) {
  .mob-menu-list {
    gap: 40px;
  }
}

.mob-menu-list-item link {
  font-size: 28px;
  font-weight: inherit;
}

.mob-menu-soc-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .mob-menu-soc-list {
    flex-direction: row;
  }
}

.backdrop-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/images/hero/hero-mob-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .backdrop-menu {
    background-image: url("/images/hero/hero-hero-2x.jpg");
  }
}

.backdrop-menu-container {
  display: flex;
  justify-content: flex-end;
  padding: 21px 32px 0 32px;
}

.btn-close-menu {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn-close-menu svg {
    width: 60px;
    height: 60px;
  }
}

.hero {
  min-height: 788px;
  background: url("/images/hero/hero-mob-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero/hero-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: url("/images/hero/hero-tab-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero/hero-tab-2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background: url("/images/hero/hero-desktop-1x.jpg");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero/hero-desktop-2x.jpg");
  }
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 193px;
}
@media screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 280px;
    padding-bottom: 171px;
  }
}

.hero-title {
  margin-bottom: 60px;
  color: #f7fbfb;
  text-align: center;
  font-size: 40px;
  font-weight: inherit;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 68px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 88px;
  }
}

.hero-text {
  margin-bottom: 88px;
  font-size: 20px;
  color: #f7fbfb;
  text-align: center;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text {
    max-width: 675px;
  }
}

.hero-btn {
  display: block;
  width: 285px;
  margin: 0 auto;
  padding: 10px;
  background-color: #5b86a1;
  border-color: transparent;
  font-size: 20px;
  color: #f7fbfb;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .hero-btn {
    width: 575px;
    font-size: 24px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #1b1d1b;
}

.about-container {
  padding-top: 52px;
  padding-bottom: 52px;
}

.about-title {
  margin-bottom: 28px;
  color: #1b1d1b;
  text-align: center;
  font-size: 32px;
  font-weight: inherit;
}

.about-text {
  color: #202321;
}

.first-text {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */