.about-container {
  padding-top: 52px;
  padding-bottom: 52px;
}

.about-title {
  margin-bottom: 28px;
  color: $primaty-text;
  text-align: center;
  font-size: 32px;
  font-weight: inherit;
}

.about-text {
  color: $secondary-text;
}

.first-text {
  margin-bottom: 10px;
}
