.advantages {
  margin-bottom: 52px;
  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.advantages-title {
  color: $primary-text;
  text-align: center;
  font-size: 32px;
  font-weight: inherit;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 52px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 68px;
    margin-bottom: 60px;
  }
}

.advantages-wrapper {
  min-height: 554px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/images/advantages/advantages-mob-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url("/images/advantages/advantages-mob-2x.jpg");
  }
  padding-top: 87px;
  padding-bottom: 87px;
  @media screen and (min-width: 768px) {
    padding: 80px 62px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url("/images/advantages/advantages1-tab-1x.jpg"),
      url("/images/advantages/advantages2-tab-1x.jpg") 100% 100%;
    background-repeat: no-repeat;
    background-size: 354px 441px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url("/images/advantages/advantages1-tab-2x.jpg"),
        url("/images/advantages/advantages2-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    padding-left: 270px;
    padding-right: 270px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url("/images/advantages/advantages1-desktop-1x.jpg"),
      url("/images/advantages/advantages2-desktop-1x.jpg") 50% 50%,
      url("/images/advantages/advantages3-desktop-1x.jpg") 100% 100%;
    background-repeat: no-repeat;
    background-size: 350px 588px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url("/images/advantages/advantages1-desktop-2x.jpg"),
        url("/images/advantages/advantages2-desktop-2x.jpg"),
        url("/images/advantages/advantages3-desktop-2x.jpg");
    }
  }
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.advantages-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11px 30px;
  background-color: $main-color;
  color: $light-color;
  font-family: Montserrat;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    & svg {
      width: 40px;
      height: 40px;
    }
    gap: 12px;
    padding: 20px 44px;
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    padding: 16px 100px;
    font-size: 24px;
  }
}

.advantages-list-item:last-child {
  padding-right: 3px;
}
