.footer {
  background-color: $secondary-text;
  color: $light-color;
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 580px;
    padding: 64px 0 64px 0;
  }
  @media screen and (min-width: 768px) {
    width: 785px;
    padding: 60px 0 50px 0;
  }
}

.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-title {
  margin-bottom: 28px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    font-style: 32px;
  }
}

.footer-location {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 23px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.footer-location svg {
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.footer-list-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    gap: 40px;
    margin-bottom: 40px;
  }
}

.footer-list-contact svg {
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.footer-list-contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
  @media screen and (min-width: 1440px) {
    gap: 8px;
  }
}

.footer-soc-list {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 190px;
  margin: 0 auto;
  color: #a3a5a3;
  font-family: Manrope;
  font-size: 16px;
}
