.header {
  height: 140px;
  background-color: $secondary-text;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-menu {
  background-color: transparent;
  border-color: transparent;
}
