.questions {
  padding: 117px 0;
  min-height: 632px;
  background: url("/images/questions/questions-mob-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/questions/questions-mob-2x.jpg");
  }
  @media screen and (min-width: 768px) {
    padding: 88px 0;
    background-image: url("/images/questions/questions-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/questions/questions-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    padding: 245px 0;
    background-image: url("/images/questions/questions-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/questions/questions-desk-2x.jpg");
    }
  }
}

.questions-container {
  @media screen and (min-width: 768px) {
    width: 478px;
    padding: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 774px;
  }
}

.questions-wrapper {
  padding: 28px 20px;
  background-color: $light-color;
  @media screen and (min-width: 768px) {
    padding: 40px 42px;
  }
  @media screen and (min-width: 1440px) {
    padding: 60px 95px;
  }
}

.questions-title {
  margin-bottom: 20px;
  color: $primary-text;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.questions-text {
  margin-bottom: 24px;
  color: $secondary-text;
  text-align: center;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-bottom: 44px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media screen and (min-width: 1440px) {
    gap: 30px;
  }
}

.form-field {
  border: none;
  border-bottom: 1px solid #a3a5a3;
  outline: none;
}

.form-field:focus {
  border-bottom: 1px solid $main-color;
}

.form-btn {
  background-color: $main-color;
  padding: 10px;
  border-color: transparent;
  color: $light-color;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    gap: 25px;
  }
}
