.tours {
  margin-bottom: 52px;
  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.tours-title {
  margin-bottom: 28px;
  color: $primary-text;
  text-align: center;
  font-size: 32px;
  font-weight: inherit;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 52px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
    font-size: 68px;
  }
}

.tours-list {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 37px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.tours-list-item {
  border: 1px solid $main-color;
  margin-bottom: 24px;
}

.tours-img {
  width: 100%;
}

.tours-description {
  padding: 28px 20px;
  @media screen and (min-width: 768px) {
    padding: 48px 20px;
  }
}

.tours-subtitle {
  margin-bottom: 16px;
  color: $primary-text;
  font-size: 20px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 28px;
  }
}

.tours-price {
  margin-bottom: 20px;
  color: $secondary-text;
  font-size: 16px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 36px;
    font-size: 24px;
  }
}

.tours-btn {
  width: 100%;
  padding: 10px;
  color: $light-color;
  font-weight: 500;
  text-transform: uppercase;
  background-color: $main-color;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.tours-btn:hover,
.tours-btn:focus {
  background-color: $primary-text;
}
