.backdrop-modal-details-tour-hoverla.is-hidden,
.backdrop-modal-details-tour-bukovel.is-hidden,
.backdrop-modal-details-tour-carpathians.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-modal-details-tour-hoverla,
.backdrop-modal-details-tour-bukovel,
.backdrop-modal-details-tour-carpathians {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 35, 33, 0.7);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  overflow-y: scroll;
}

.modal-details-tour-hoverla,
.modal-details-tour-bukovel,
.modal-details-tour-carpathians {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 315px;
  z-index: 555;
  @media screen and (min-width: 768px) {
    width: 728px;
  }
  @media screen and (min-width: 1440px) {
    width: 1170px;
  }
}

.modal-details-tour-hoverla-close-btn,
.modal-details-tour-bukovel-close-btn,
.modal-details-tour-carpathians-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  z-index: 111;
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    & svg {
      width: 40px;
      height: 40px;
    }
  }
  @media screen and (min-width: 1440px) {
    top: 40px;
    right: 40px;
  }
}

.modal-details-tour-hoverla-list,
.modal-details-tour-bukovel-list,
.modal-details-tour-carpathians-list {
  color: $light-color;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 28px;
  }
}

.modal-details-tour-hoverla-list-item,
.modal-details-tour-bukovel-list-item,
.modal-details-tour-carpathians-list-item {
  position: relative;
  padding: 150px 37px 20px 48px;
  min-height: 480px;
  @media screen and (min-width: 768px) {
    padding: 165px 0 121px 60px;
    min-height: 550px;
  }
  @media screen and (min-width: 1440px) {
    padding: 233px 726px 175px 100px;
    min-height: 739px;
  }
}

.modal-details-tour-hoverla-list-item:nth-child(1) {
  background: url("/images/modal-tour-details/hoverla/mob/hoverla1-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/hoverla/mob/hoverla1-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/hoverla/tab/hoverla1-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/hoverla/tab/hoverla1-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/hoverla/desk/hoverla1-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/hoverla/desk/hoverla1-desk-2x.jpg");
    }
  }
}
.modal-details-tour-hoverla-list-item:nth-child(2) {
  background: url("/images/modal-tour-details/hoverla/mob/hoverla2-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/hoverla/mob/hoverla2-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/hoverla/tab/hoverla2-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/hoverla/tab/hoverla2-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/hoverla/desk/hoverla2-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/hoverla/desk/hoverla2-desk-2x.jpg");
    }
  }
}
.modal-details-tour-hoverla-list-item:nth-child(3) {
  background: url("/images/modal-tour-details/hoverla/mob/hoverla3-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/hoverla/mob/hoverla3-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/hoverla/tab/hoverla3-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/hoverla/tab/hoverla3-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/hoverla/desk/hoverla3-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/hoverla/desk/hoverla3-desk-2x.jpg");
    }
  }
}

.modal-details-tour-bukovel-list-item:nth-child(1) {
  background: url("/images/modal-tour-details/bukovel/mob/bukovel1-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/bukovel/mob/bukovel1-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/bukovel/tab/bukovel1-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/tab/bukovel1-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/bukovel/desk/bukovel1-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/desk/bukovel1-desk-2x.jpg");
    }
  }
}
.modal-details-tour-bukovel-list-item:nth-child(2) {
  background: url("/images/modal-tour-details/bukovel/mob/bukovel2-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/bukovel/mob/bukovel2-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/bukovel/tab/bukovel2-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/tab/bukovel2-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/bukovel/desk/bukovel2-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/desk/bukovel2-desk-2x.jpg");
    }
  }
}
.modal-details-tour-bukovel-list-item:nth-child(3) {
  background: url("/images/modal-tour-details/bukovel/mob/bukovel3-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/bukovel/mob/bukovel3-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/bukovel/tab/bukovel3-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/tab/bukovel3-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/bukovel/desk/bukovel3-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/desk/bukovel3-desk-2x.jpg");
    }
  }
}

.modal-details-tour-bukovel-list-item:nth-child(4) {
  background: url("/images/modal-tour-details/bukovel/mob/bukovel4-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/bukovel/mob/bukovel4-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/bukovel/tab/bukovel4-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/tab/bukovel4-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/bukovel/desk/bukovel4-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/bukovel/desk/bukovel4-desk-2x.jpg");
    }
  }
}

.modal-details-tour-carpathians-list-item:nth-child(1) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians1-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians1-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians1-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians1-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians1-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians1-desk-2x.jpg");
    }
  }
}
.modal-details-tour-carpathians-list-item:nth-child(2) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians2-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians2-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians2-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians2-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians2-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians2-desk-2x.jpg");
    }
  }
}
.modal-details-tour-carpathians-list-item:nth-child(3) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians3-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians3-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians3-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians3-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians3-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians3-desk-2x.jpg");
    }
  }
}

.modal-details-tour-carpathians-list-item:nth-child(4) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians4-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians4-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians4-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians4-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians4-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians4-desk-2x.jpg");
    }
  }
}

.modal-details-tour-carpathians-list-item:nth-child(5) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians5-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians5-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians5-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians5-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians5-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians5-desk-2x.jpg");
    }
  }
}

.modal-details-tour-carpathians-list-item:nth-child(6) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians6-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians6-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians6-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians6-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians6-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians6-desk-2x.jpg");
    }
  }
}

.modal-details-tour-carpathians-list-item:nth-child(7) {
  background: url("/images/modal-tour-details/carpathians/mob/carpathians7-mob-1x.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/images/modal-tour-details/carpathians/mob/carpathians7-mob-2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background: url("/images/modal-tour-details/carpathians/tab/carpathians7-tab-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/tab/carpathians7-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1440px) {
    background: url("/images/modal-tour-details/carpathians/desk/carpathians7-desk-1x.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/images/modal-tour-details/carpathians/deskcarpathians7-desk-2x.jpg");
    }
  }
}

.modal-details-tour-hoverla-list-item-day,
.modal-details-tour-bukovel-list-item-day,
.modal-details-tour-carpathians-list-item-day {
  position: absolute;
  top: 80px;
  left: 0;
  display: inline-block;
  padding: 14px 190px 14px 48px;
  background-color: $main-color;
  border-radius: 0px 8px 8px 0px;
  @media screen and (min-width: 768px) {
    top: 100px;
    padding: 12px 253px 12px 60px;
  }
  @media screen and (min-width: 1440px) {
    top: 160px;
    padding: 7px 307px 7px 100px;
  }
}

.modal-details-tour-hoverla-sublist,
.modal-details-tour-bukovel-sublist,
.modal-details-tour-carpathians-sublist {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.modal-details-tour-hoverla-wrapper,
.modal-details-tour-bukovel-wrapper,
.modal-details-tour-carpathians-wrapper {
  background-color: $light-color;
  padding: 28px 15px;
  @media screen and (min-width: 768px) {
    padding: 40px 167px;
  }
  @media screen and (min-width: 1440px) {
    padding: 48px 298px 60px;
  }
}

.modal-details-tour-hoverla-price,
.modal-details-tour-bukovel-price,
.modal-details-tour-carpathians-price {
  margin-bottom: 16px;
  color: $secondary-text;
  text-align: center;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    font-size: 28px;
  }
}

.modal-details-tour-hoverla-btn,
.modal-details-tour-bukovel-btn,
.modal-details-tour-carpathians-btn {
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  background-color: $main-color;
  border-color: transparent;
  color: $light-color;
  font-weight: 500;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.modal-details-tour-hoverla-btn,
.modal-details-tour-bukovel-btn,
.modal-details-tour-carpathians-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-details-tour-hoverla-btn:hover,
.modal-details-tour-hoverla-btn:focus,
.modal-details-tour-bukovel-btn:hover,
.modal-details-tour-bukovel-btn:focus,
.modal-details-tour-carpathians-btn:hover,
.modal-details-tour-carpathians-btn:focus {
  background-color: $primary-text;
}

.swiper-pagination-details .swiper-pagination-bullet {
  background-color: #a3a5a3 !important;
  width: 12px !important;
  height: 12px !important;
  @media screen and (min-width: 768px) {
    width: 16px !important;
    height: 16px !important;
  }
}

.swiper-pagination-details .swiper-pagination-bullet-active {
  background-color: $light-color !important;
  width: 12px !important;
  height: 12px !important;
  @media screen and (min-width: 768px) {
    width: 16px !important;
    height: 16px !important;
  }
}

.swiper-pagination-details {
  bottom: 20px !important;
  @media screen and (min-width: 768px) {
    bottom: 40px !important;
  }
}
